
body{
   margin:0;
   height: 350vh;
   display:Absolute center;
   justify-content: center;
   align-items: center;
   background: #2b2b2b;;
    
}
    .Lion{
        position: fixed;
      bottom: 0%;
        right: 50%;
        transform: translateX(-50%-45%);
        width: 500;
        animation: walk forwards 6s linear infinite;
        animation-timing-function: cubic-bezier(0.45, 0.05, 0.55, 0.95));
        z-index:1;    
     }
     .quote{
      position: fixed;
      top:50%;
      right : 40px;
      transform: translateY(-50%);
      color: #ffffff;
      font-size: 22px;
      font-family: 'Times New roman',serif;
      z-index: index 3;
     }
     .title{
      font-size: 42px;
      font-weight: bold;
     }
     @keyframes walkforwad {
       0%{
         left:-20px;
         transform: translateY(0);
       }
       25%{
         transform: translateY(-12px);
       }
       50%{
         transform: translateY(0);
       }
       75%{
         transform: translateY(-12px);
       }
       100%{
         left:80%;
         transform: translateY(0);
       }

     }
     .Lion{
        width: 500px;
        height: 20;
        display: block;
     }