
body{
   margin:0;
   background:black;
    overflow: hidden;
}
    .Lion ::-webkit-textfield-decoration-container{
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        animation: Lionwalk 8s linear infinite;
        width: 500;
        height: 20;
        background:#7cfc00;
        margin-top: 300px;
     }
     .Lion{
        position: absolute;
        bottom: 40px; 
        width: 500px;
        height: 20;
        display: block;
     }
     @keyframes Lionfrontwalk {
       0%{left:50%; transform:translateX(-50%) ;}
       50%{left:70% ;transform: translateX(-50%);}
       100%{left:50%;transform: translateX(-50%);}

     }
     .Lion{
        width: 500px;
        height: 20;
        display: block;
     }